
#dialog {
  position:absolute;
  width:400px;
  z-index:200;
  background-color : #E2E2E2;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
}
#dialog-body {
  padding:20px;
  display:block;
}
#dialog-header {
  display:block;
  position:relative;
  width:400px;
  padding:3px 6px 7px;
  height:14px;
  font-weight:bold
}
#dialog-title {
  float:left
}
#dialog-close {
  float:right;
  cursor:pointer;
  margin:3px 3px 0 0;
  height:11px;
  width:11px;
  background:url("../img/dialog_close.gif") no-repeat;
}
#dialog-content {
  margin-top: 10px;
  text-align: left;
}
#dialog-content div.warn_msg{
  font-weight:bold;
  color:#CC2222;
  margin-bottom:10px;
}

#dialog-separator {
  display:block;
  background-image: url("../img/separator.gif") ;
  background-repeat: repeat-x;
  height:2px;
  width: 360px;
  margin: 10px 0px;
}
#dialog-mask {
  position:absolute;
  top:0;
  left:0;
  min-height:100%;
  width:100%;
  background:#222222;
  opacity:.80;
  filter:alpha(opacity=80);
  z-index:100
}
#dialog-buttons {
  float: right;
}
#dialog-buttons default {
  border: 1px solid #FFFFFF;
}

div.warn {
  background:url("../img/dialog_warn.jpg") no-repeat;
}
div.info {
  background:url("../img/dialog_info.jpg") no-repeat;
}
div.input {
  background:url("../img/dialog_input.jpg") no-repeat;
}